.icon-arm-sling { background-image: url(../img/arm-sling.png);}
.icon-arm-bandage { background-image: url(../img/arm-bandage.png);}
.icon-at-sea { background-image: url(../img/at-sea.png);}
.icon-attached-shield { background-image: url(../img/attached-shield.png);}
.icon-bed { background-image: url(../img/bed.png);}
.icon-berries-bowl { background-image: url(../img/berries-bowl.png);}
.icon-bleeding-eye { background-image: url(../img/bleeding-eye.png);}
.icon-blindfold { background-image: url(../img/blindfold.png);}
.icon-body-balance { background-image: url(../img/body-balance.png);}
.icon-bolt-spell-cast { background-image: url(../img/bolt-spell-cast.png);}
.icon-broken-shield { background-image: url(../img/broken-shield.png);}
.icon-card-pickup{ background-image: url(../img/card-pickup.png);}
.icon-carrion{ background-image: url(../img/carrion.png);}
.icon-cavalry{ background-image: url(../img/cavalry.png);}
.icon-coma{ background-image: url(../img/coma.png);}
.icon-cracked-shield { background-image: url(../img/cracked-shield.png);}
.icon-crags { background-image: url(../img/crags.png);}
.icon-crawl { background-image: url(../img/crawl.png);}
.icon-crossed-swords { background-image: url(../img/crossed-swords.png);}
.icon-cursed-star { background-image: url(../img/cursed-star.png);}
.icon-deadly-strike { background-image: url(../img/deadly-strike.png);}
.icon-despair { background-image: url(../img/despair.png);}
.icon-dice-twenty-faces-twenty { background-image: url(../img/dice-twenty-faces-twenty.png);}
.icon-direction-signs { background-image: url(../img/direction-signs.png);}
.icon-drop-weapon { background-image: url(../img/drop-weapon.png);}
.icon-drowning { background-image: url(../img/drowning.png);}
.icon-dodging { background-image: url(../img/dodging.png);}
.icon-drinking { background-image: url(../img/drinking.png);}
.icon-dungeon-light { background-image: url(../img/dungeon-light.png);}
.icon-eating { background-image: url(../img/eating.png);}
.icon-earwig { background-image: url(../img/earwig.png);}
.icon-embrassed-energy { background-image: url(../img/embrassed-energy.png);}
.icon-eye-of-horus { background-image: url(../img/eye-of-horus.png);}
.icon-fall-down { background-image: url(../img/fall-down.png);}
.icon-falling { background-image: url(../img/falling.png);}
.icon-feather { background-image: url(../img/feather.png);}
.icon-fleshy-mass { background-image: url(../img/fleshy-mass.png);}
.icon-frozen-block{ background-image: url(../img/frozen-block.png);}
.icon-gargolye { background-image: url(../img/gargoyle.png);}
.icon-giant { background-image: url(../img/giant.png);}
.icon-goblin-head { background-image: url(../img/goblin-head.png);}
.icon-grab { background-image: url(../img/grab.png);}
.icon-hearing-disabled { background-image: url(../img/hearing-disabled.png);}
.icon-helmet-head-shot { background-image: url(../img/helmet-head-shot.png);}
.icon-hood { background-image: url(../img/hood.png);}
.icon-ice-cube { background-image: url(../img/ice-cube.png);}
.icon-imprisoned { background-image: url(../img/imprisoned.png);}
.icon-internal-injury { background-image: url(../img/internal-injury.png);}
.icon-invisible { background-image: url(../img/invisible.png);}
.icon-journey { background-image: url(../img/journey.png);}
.icon-juggler { background-image: url(../img/juggler.png);}
.icon-jump-across { background-image: url(../img/jump-across.png);}
.icon-knockout { background-image: url(../img/knockout.png);}
.icon-leeching-worm { background-image: url(../img/leeching-worm.png);}
.icon-magic-swirl { background-image: url(../img/magic-swirl.png);}
.icon-magnifying-glass { background-image: url(../img/magnifying-glass.png);}
.icon-meditation { background-image: url(../img/meditation.png);}
.icon-metroid { background-image: url(../img/metroid.png);}
.icon-monkey { background-image: url(../img/monkey.png);}
.icon-mounted-knight { background-image: url(../img/mounted-knight.png);}
.icon-mouse { background-image: url(../img/mouse.png);}
.icon-night-vision { background-image: url(../img/night-vision.png);}
.icon-police-target { background-image: url(../img/police-target.png);}
.icon-pull { background-image: url(../img/pull.png);}
.icon-push { background-image: url(../img/push.png);}
.icon-quicksand { background-image: url(../img/quicksand.png);}
.icon-raining { background-image: url(../img/raining.png);}
.icon-raise-zombie { background-image: url(../img/raise-zombie.png);}
.icon-razorvine { background-image: url(../img/razorvine.png);}
.icon-run { background-image: url(../img/run.png);}
.icon-sands-of-time { background-image: url(../img/sands-of-time.png);}
.icon-screaming { background-image: url(../img/screaming.png);}
.icon-semi-closed-eye { background-image: url(../img/semi-closed-eye.png);}
.icon-sharp-smile { background-image: url(../img/sharp-smile.png);}
.icon-shield { background-image: url(../img/shield.png);}
.icon-shield-bash { background-image: url(../img/shield-bash.png);}
.icon-sight-disabled { background-image: url(../img/sight-disabled.png);}
.icon-skeleton-inside { background-image: url(../img/skeleton-inside.png);}
.icon-sleepy { background-image: url(../img/sleepy.png);}
.icon-smitten { background-image: url(../img/smitten.png);}
.icon-spider-web { background-image: url(../img/spider-web.png);}
.icon-stone-pile { background-image: url(../img/stone-pile.png);}
.icon-stopwatch { background-image: url(../img/stopwatch.png);}
.icon-strong { background-image: url(../img/strong.png);}
.icon-summits { background-image: url(../img/summits.png);}
.icon-sun-cloud { background-image: url(../img/sun-cloud.png);}
.icon-telepathy { background-image: url(../img/telepathy.png);}
.icon-thermometer-cold { background-image: url(../img/thermometer-cold.png);}
.icon-thermometer-hot { background-image: url(../img/thermometer-hot.png);}
.icon-thin-ice { background-image: url(../img/thin-ice.png);}
.icon-treasure-map { background-image: url(../img/treasure-map.png);}
.icon-unstable-orb { background-image: url(../img/unstable-orb.png);}
.icon-vomiting { background-image: url(../img/vomiting.png);}
.icon-walk { background-image: url(../img/walk.png);}
.icon-weight-lifting-down { background-image: url(../img/weight-lifting-down.png);}
.icon-windsock{ background-image: url(../img/windsock.png);}
.icon-wingfoot { background-image: url(../img/wingfoot.png);}
.icon-worried-eyes { background-image: url(../img/worried-eyes.png);}

